@import "tailwindcss";

/* Явно указываем, где искать классы (относительно этой папки) */
@source "../../app";
@source "../../page";
@source "../../widget";
@source "../../shared";

@theme {
  --color-primary: #17411B;
  --breakpoint-mob: 31.25rem; /* 500px */
}